<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body class="sidebar-menu-collapsed" id="app" >


<!--		引入topbar-->
<div th:replace="commons/bar::#topbar"></div>

iv class="container-fluid">
<div class="row">
    <!--		引入sidebar-->
    <div th:replace="commons/bar::#sidebar(activeUri='emps')"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <div class="col-lg-12 pl-lg-2 chart-grid" align="left">
            <div class="card text-center card_border">
                <div class="card-header chart-grid__header">
                    温湿度
                </div>
                <div class="card-body">

                    <div id="container">
                        <canvas id="linechart"></canvas>
                    </div>

                </div>
                <div class="card-footer text-muted chart-grid__footer">
                </div>
            </div>
        </div>
        <div class="col-lg-12 pl-lg-2 chart-grid" align="left">
            <div class="card text-center card_border">
                <div class="card-header chart-grid__header">
                    二氧化碳浓度光照强度
                </div>
                <div class="card-body">

                    <div id="carbonline1">
                        <canvas id="carbonline"></canvas>
                    </div>

                </div>
                <div class="card-footer text-muted chart-grid__footer">
                </div>
            </div>
        </div>
    </main>
</div>
</div>
<!-- shuju fenge -->

<!--<div class="col-lg-6 pl-lg-2 chart-grid" align="left">-->
<!--    <div class="card text-center card_border">-->
<!--        <div class="card-header chart-grid__header">-->
<!--            温湿度-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            &lt;!&ndash; line chart &ndash;&gt;-->
<!--            <div id="container">-->
<!--                <canvas id="linechart"></canvas>-->
<!--            </div>-->
<!--            &lt;!&ndash; //line chart &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="card-footer text-muted chart-grid__footer">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="col-lg-6 pl-lg-2 chart-grid" align="left">-->
<!--    <div class="card text-center card_border">-->
<!--        <div class="card-header chart-grid__header">-->
<!--            二氧化碳浓度光照强度-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            &lt;!&ndash; line chart &ndash;&gt;-->
<!--            <div id="carbonline1">-->
<!--                <canvas id="carbonline"></canvas>-->
<!--            </div>-->
<!--            &lt;!&ndash; //line chart &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="card-footer text-muted chart-grid__footer">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<!-- chart js -->
<script src="/asserts/js/vue.js"></script>
<script src="/asserts/js/axios.js"></script>

<script src="/asserts/js/Chart.min.js"></script>
<script src="/asserts/js/utils.js"></script>
<!-- //chart js -->
<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="/asserts/js/bar.js"></script>
<script src="/asserts/js/linechart.js"></script>

<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->

</body>
<script>
    // location.reload();
    // location.reload(1)
</script>

</html>
  