<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>特玉莲栽培环境</title>
    <!-- Bootstrap core CSS -->
    <!--	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <link href="asserts/css/my.css" th:href="@{/asserts/css/my.css}" rel="stylesheet">
    <link href="asserts/css/my.css" th:href="@{/asserts/css/my2.css}" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/style.css"  th:href="@{/asserts/css/stylelogin.css}"  rel='stylesheet' type='text/css' />

</head>
<title>Signin</title>
    <link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Sign in Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<h1>多肉植物特玉莲的栽培环境</h1>
		<div class="app-cam">
<!--            <img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">-->

            <div class="cam"><img th:src="@{/asserts/img/cam.png}" class="img-responsive" alt="" /></div>
			<form action=""  th:action="@{/user/register}" method="post">
<!--				<input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >-->
				<input type="text" th:placeholder="#{register.regname}" placeholder="Regname" name="regname" id="regname">

<!--				<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">-->
				<input type="password"  th:placeholder="#{register.regpass}" placeholder="Regpass" name="regpass" id="regpass">

				<div class="submit"><input type="submit" value="注册" ></div>
				<div class="clear"></div>
				<div class="buttons">
				</div>
				<div class="new">
					<p style="color: #ff0000" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

					<!--					<p><a href="#">Forgot Password ?</a></p>-->
<!--					<p class="sign">New here ?<a href="#"> Sign Up</a></p>-->
					<div class="clear"></div>
				</div>
			</form>
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
		</div>
	<!--//end-copyright-->
</body>
</html>