<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pricing</title>

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/asserts/assets2/css/style-starter.css}" >

    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="commons/bar::#topbar"></div>
<!--  公共资源-->

<!-- main content start -->
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">资讯</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->

        <!-- pricing -->
        <section class="pricing">
            <div class="card card_border mb-5">
                <div class="cards__heading">
                    <h3><span> 资讯</span></h3>
                </div>
                <div class="card-body">

                    <!--                    在数据模块的位置的地方显示上传故障节点报错的数据-->


                    <!-- content block style 1-->
                    <div class="card card_border p-lg-5 p-3 mb-4">
                        <div class="card-body py-3 p-0">
                            <div class="row">
                                <div class="col-lg-6 align-self pr-lg-4">
                                    <h3 class="block__title mb-lg-4">北京多肉大棚探访</h3>
                                    <p class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 决定搞多肉以后，我是既对多肉也不了解，对大棚怎么弄更是一无所知。

                                        找大棚之前，我到书店先买了本关于多肉的书，就是那本挺火的《和二木一起玩多肉》，作为自己对多肉的入门工具，了解了一些常见的多肉种类，以及生活习性</p>
                                    <p class="mb-lg-5 mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   这个大棚很难找，开车走了很多冤枉路，一路问了很多人才终于找到。到了地方又误入了大棚对面的一个门，里面养了很多牛。回转身进入百花仙子，那里外表很平常，看不出来里面养花。这里据说有9个棚，对外开放的有两个，一个以景天为主，另一个以番杏为主。后来又去过几次，其实所谓的以番杏为主的棚里番杏并没有多少，倒是十二卷类的不少。棚里的多肉品种很多，我还基本上一个都叫不出来，带了相机来本打算记录的，然而名字都不知道，也就懒得拍了。我们一起去的人商量好，问问题的时候不要暴露我们自己想搞多肉，可是跟那里的老板才聊了几句，人家就听出来了。
                                    </p>
                                    <a href="http://blog.sina.com.cn/s/blog_95b526110102v93g.html" class="btn btn-style btn-primary"> 查看原文</a>
                                </div>
                                <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-4">

                                    <img th:src="@{/asserts/img/duoroudapeng.PNG}" alt="" class="img-fluid rounded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //content block style 1-->
                    <!-- content block style 1-->
                    <div class="card card_border p-lg-5 p-3 mb-4">
                        <div class="card-body py-3 p-0">
                            <div class="row">
                                <div class="col-lg-6 align-self pr-lg-4">
                                    <h3 class="block__title mb-lg-4">特玉莲的养殖方法</h3>
                                    <p class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 特玉莲又名特叶玉蝶，是鲁氏石莲花的变种，蓝绿色的叶片扭曲翻转，叶面上厚厚的白粉给植株增添了一丝仙气。特别的外形与较为强健的习性使得特玉莲大受欢迎，被越来越多的多肉粉们栽植在家中</p>
                                    <p class="mb-lg-5 mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   养殖特玉莲要用排水、透气性良好的沙质土壤，保证充足的光照，不能出现光照不足的情况。温度不要5℃，0℃以下叶片就会坏死，浇水不要太频繁，10天浇一次水就好。每个月施一次以磷肥为主的薄肥，施肥量不要太大。繁殖可以用播种、叶插、分株、砍头的繁殖方式，发现病虫害后要及时防治。
                                    </p>
                                    <a href="https://m.huabaike.com/jtyh/2689.html" class="btn btn-style btn-primary"> 查看原文</a>
                                </div>
                                <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-4">

                                    <img th:src="@{/asserts/img/tyl3.PNG}" alt="" class="img-fluid rounded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //content block style 1-->
                    <!-- content block style 1-->
                    <div class="card card_border p-lg-5 p-3 mb-4">
                        <div class="card-body py-3 p-0">
                            <div class="row">
                                <div class="col-lg-6 align-self pr-lg-4">
                                    <h3 class="block__title mb-lg-4">别人国家的多肉大棚</h3>
                                    <p class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 以前经常说别人的多肉，这次终于有机会说别人国家的多肉大棚了 </p>
                                    <p class="mb-lg-5 mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;英国是一个花园爱好者的国度，拥有世界上多处最为著名的绿地空间。 从18世纪“全能布朗”的正统风格作品到伊甸园项目空间时代的生物园，在英国每个人都能找到自己心仪的花园。在英国一些注明的花园里也可以找到多肉植物的踪迹，下文的作者 @丧心病狂哈哈星人 ，将带你走进威斯利花园、希德寇特花园、威斯利花园、牛津大学植物园还有切尔西花展，看看那里的多肉植物。</p>
                                    <a href="http://blog.sina.com.cn/s/blog_95b526110102v93g.html" class="btn btn-style btn-primary"> 查看原文</a>
                                </div>
                                <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-4">

                                    <img th:src="@{/asserts/img/dapeng1.PNG}" alt="" class="img-fluid rounded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //content block style 1--><!-- content block style 1-->
                    <div class="card card_border p-lg-5 p-3 mb-4">
                        <div class="card-body py-3 p-0">
                            <div class="row">
                                <div class="col-lg-6 align-self pr-lg-4">
                                    <h3 class="block__title mb-lg-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;遮阴不要太狠，防雨很有必要</h3>
                                    <p class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现在种多肉的基本都知道多肉度夏有几大要素，不管是哪几大，其中之一必然有遮阴。遮阴也就成了多肉度夏的常规操作，但遮得太狠就容易徒长，徒长就得不偿失。 </p>
                                    <p class="mb-lg-5 mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不是所有的地区都需要遮阴，夏天气温偶尔上30℃的，不用开空调的地区，是可以不遮少遮的；平时就雾气朦胧光照不佳的地方，也是可以不遮少遮的。

                                        不是所有的养护环境都需要遮阴，平时多肉光照就不够的阳台窗台，多肉已经徘徊在徒与不徒之间的，也是应当不遮少遮的。</p>
                                    <a href="https://www.drlmeng.com/zybyth.html" class="btn btn-style btn-primary"> 查看原文</a>
                                </div>
                                <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-4">

                                    <img th:src="@{/asserts/img/zheyi.PNG}" alt="" class="img-fluid rounded" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //content block style 1-->



                    <!-- content block style 5 -->
                    <div class="card card_border p-lg-5 p-3 mb-4">
                        <div class="card-body py-3 p-0">
                            <h3 class="block__title mb-lg-4"></h3>
                            <div class="row cwp23-content align-items-lg-center">
                                <div class="cwp23-img col-md-6 pt-md-4 mt-md-0 mt-3">

                                    <img th:src="@{/asserts/img/wlw.jpg}" class="img-fluid rounded" alt="">
                                </div>
                                <div class="cwp23-text col-md-6 mt-4 mt-md-0 pl-md-4">
                                    <div class="cwp23-title">
                                        <h3>物联网平台</h3>
                                    </div>
                                    <div class="row cwp23-text-cols">
                                        <div class="column col-lg-6 mt-4">
                                            <h4 class="text-primary">Onenet</h4>
                                            <p>中国移动物联网开放平台是由中国移动打造的PaaS物联网开放平台。平台能够帮助开发者轻松实现设备接入与设备连接,提供综合性的物联网解决方案 </p>
                                        </div>
                                        <div class="column col-lg-6 mt-4">
                                            <h4 class="text-primary">天工</h4>
                                            <p>百度天工作为智能化的物联网平台，是“云计算＋大数据＋人工智能”的三位一体。 </p>
                                        </div>
                                        <div class="column col-lg-6 mt-4">
                                            <h4 class="text-primary">阿里Link</h4>
                                            <p>阿里Link物联网平台，将借助阿里云在云计算、人工智能领域的积累，将物联网打造为智联网 </p>
                                        </div>
                                        <div class="column col-lg-6 mt-4">
                                            <h4 class="text-primary">腾讯QQ物联智能硬件开放平台</h4>
                                            <p>QQ物联智能硬件开放平台，提供给可穿戴设备、智能家居、智能车载、传统硬件等领域合作伙伴， </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //content block style 5 -->
                </div>
                <!-- //content -->

            </div>
            <!-- main content end-->
        </section>
        <!--footer section start-->
        <footer class="dashboard">
            <p>多肉栽培系统</p>
        </footer>
        <!--footer section end-->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->


        <script src="/asserts/assets2/js/jquery-3.3.1.min.js"></script>
        <script src="/asserts/assets2/js/jquery-1.10.2.min.js"></script>

        <!-- chart js -->
        <script src="/asserts/assets2/js/Chart.min.js"></script>
        <script src="/asserts/assets2/js/utils.js"></script>
        <!-- //chart js -->

        <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
        <script src="/asserts/assets2/js/bar.js"></script>
        <script src="/asserts/js/linechart.js"></script>
        <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


        <script src="/asserts/assets2/js/jquery.nicescroll.js"></script>
        <script src="/asserts/assets2/js/scripts.js"></script>

        <!-- close script -->
        <script>
            var closebtns = document.getElementsByClassName("close-grid");
            var i;

            for (i = 0; i < closebtns.length; i++) {
                closebtns[i].addEventListener("click", function () {
                    this.parentElement.style.display = 'none';
                });
            }
        </script>
        <!-- //close script -->

        <!-- disable body scroll when navbar is in active -->
        <script>
            $(function () {
                $('.sidebar-menu-collapsed').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- disable body scroll when navbar is in active -->

        <!-- loading-gif Js -->
        <script src="/asserts/assets2/js/modernizr.js"></script>
        <script>
            $(window).load(function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");;
            });
        </script>
        <!--// loading-gif Js -->

        <!-- Bootstrap Core JavaScript -->
        <script src="/asserts/assets2/js/bootstrap.min.js"></script>
        <script src="/asserts/js/realdate.js"></script>

        <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <!-- chart js -->
        <script src="/asserts/js/vue.js"></script>
        <script src="/asserts/js/axios.js"></script>

        <script src="/asserts/js/Chart.min.js"></script>
        <script src="/asserts/js/utils.js"></script>
        <!-- //chart js -->
        <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
        <script src="/asserts/js/bar.js"></script>
        <script src="/asserts/js/realdate.js"></script>

</body>

</html>