<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <!-- <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <<!-- link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff"> -->
    <!-- Standard iPad Touch Icon-->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff"> -->
    <!-- Standard iPhone Touch Icon-->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff"> -->
    <!-- Styles --> --> -->
   <!-- <link href="../assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet"> -->
 <!-- -->    <link href="../assets/css/lib/themify-.css" rel="stylesheet"> -->
<!--    <link href="../assets/css/lib/mmc-chat.css" rel="stylesheet" />
<!--    <link href="../assets/css/lib/sidebar.css" rel="stylesheet">
 -->    <link href="../assets/css/lib/bootstrap..css" rel="stylesheet">
<!--    <link href="../assets/css/lib/nixon.css" rel="stylesheet">
 --><!--    <link href="../assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
 -->    <!-- <link href="../assets/css/style.css" rel="stylesheet"> -->
</head>

	<body>
		<!-- /# row -->
		<div class="row">
		    <div class="col-lg-6">
		        <div class="card alert">
		            <div class="card-header">
		                <h4>Yearly Sales </h4>
		                <div class="card-header-right-icon">
		                    <ul>
		                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
		                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="sales-chart  card-content">
		                <canvas id="sales-chart"></canvas>
		            </div>
		        </div>
		    </div>
		 
		 <!--   <div class="col-lg-6">
		        <div class="card alert">
		            <div class="card-header">
		                <h4>Team Total Completed </h4>
		                <div class="card-header-right-icon">
		                    <ul>
		                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
		                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
		                    </ul>
		                </div>
		            </div>
		            <div class="sales-chart card-content">
		                <canvas id="team-chart"></canvas>
		            </div>
		        </div>
		    </div> 
		    <!-- /# column -->
		</div>
		<!-- /# row --> -->
	</body>
	<!-- /# content wrap -->
	<script src="../assets/js/lib/jquery.min.js"></script>
	<!-- jquery vendor -->
	<script src="../assets/js/lib/jquery.nanoscroller.min.js"></script>
	
	<script src="../assets/js/lib/chart-js/Chart.bundle.js"></script>
	<script src="../assets/js/lib/chart-js/chartjs-init.js"></script>

</html>
