<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css" th:href="@{/asserts/css/LZ/css/fontawesome.min.css}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/asserts/css/LZ/css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css" th:href="@{/asserts/css/LZ/css/templatemo-style.css}">

</head>

<body>
<div th:replace="commons/bar::#topbar"></div>

<div class="row tm-content-row" id="datasreal">
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller">
        <h2 class="tm-block-title">温度</h2>
        <div id="a">
            <h2 class="tm-block-title"> {{temperature}} ℃</h2>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller">
        <h2 class="tm-block-title">湿度</h2>
        <div id="a">
            <h2 class="tm-block-title">{{humidity}} %</h2>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller">
        <h2 class="tm-block-title">烟雾浓度</h2>
        <div id="a">
            <h2 class="tm-block-title">{{carbon}} ppm</h2>
        </div>
    </div>
</div>
</div>
<
实时数据

</body>
<script src="/asserts/js/vue.js"></script>
<script src="/asserts/js/axios.js"></script>
<script th:src="@{/asserts/js/LZ/js/realdate.js}"></script>

</html>