<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css" th:href="@{/asserts/css/LZ/css/fontawesome.min.css}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/asserts/css/LZ/css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css" th:href="@{/asserts/css/LZ/css/templatemo-style.css}">

</head>

<body>
<div th:replace="commons/bar::#topbar"></div>


<input type="button" class="btn btn-primary btn-block mx-auto" value="开启通风" >
<input type="button" class="btn btn-primary btn-block mx-auto" value="打开光源" >
update

</body>
</html>