<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pricing</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">

    <!-- google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section id="topbar">
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a th:href="@{/sensor/real}">首页</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <!-- image logo --
        <div class="logo">
          <a href="index.html">
            <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
          </a>
        </div>
        <!-- //image logo -->

        <div class="logo-icon text-center">
            <a href="pricing.html" title="logo"><img src="assets/images/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/test/history}"><i class="fa fa-tachometer"></i><span> 历史数据数据</span></a>
                </li>

                <li><a th:href="@{/jidianqi}"><i class="fa fa-cogs"></i><span> 继电器</span></a>
                </li>

                <!--   <li class="menu-list">
                     <a href="#"><i class="fa fa-cogs"></i>
                       <span><i class="lnr lnr-chevron-right"></i></span></a>
                       <li><a href="carousels.html">继电器状态</a> </li>
                   </li> -->
                <li class="active"><a th:href="@{/sensor/real}"><i class="fa fa-table"></i> <span>实时数据</span></a></li>
                <!--   <li><a href="blocks.html"><i class="fa fa-th"></i> <span>Content blocks</span></a></li>
                   <li><a href="forms.html"><i class="fa fa-file-text"></i> <span>Forms</span></a></li> -->
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
    <!-- header-starts -->
    <div class="header sticky-header">

        <!-- notification menu start -->
        <div class="menu-right">
            <div class="navbar user-panel-top">
                <div class="search-box">
                    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">欢迎您[[${session.loginUser}]]</a>

                </div>

                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="profile_img">
                                    <img src="@{/asserts/assets2/images/profileimg.jpg" class="rounded-circle" alt="" />
                                    <img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">


                                    <div class="user-active">
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                <li class="user-info">
                                    <h5 class="user-name">[[${session.loginUser}]]</h5>
                                    <span class="status ml-2"></span>
                                </li>

                                <li class="logout"> <a href="#sign-up.html"><i class="fa fa-power-off"></i>退出</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--notification menu end
  </div>
  <!-- //header-ends -->

</section>
</body>
</html>